/* {
	border: 1px solid red !important;
}*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: #698FC8;
}

::-moz-selection {
	background-color: #698FC8;
}

@media only screen and (max-width: 1300px) {
	.bear-pic {

	}

	#bear-pic {
		margin-top: 30px;
		width: 375px;
		height: 188px;
	}
}

@media only screen and (min-width: 800px) {
	.title-box > .col-1 {
		background-color: #fafafa;
	}
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
	padding: 5px;

}

.col-2 {
	width: 16.66%;
	padding: 5px;
}

.col-3 {
	width: 25%;
	padding: 5px;
}

.col-4 {
	width: 33.33%;
	padding: 5px;
}

.col-5 {
	width: 41.66%;
	padding: 5px;
}

.col-6 {
	width: 50%;
	padding: 5px;
}

.col-7 {
	width: 58.33%;
	padding: 5px;
}

.col-8 {
	width: 66.66%;
	padding: 5px;
}

.col-9 {
	width: 75%;
	padding: 5px;
}

.col-10 {
	width: 83.33%;
	padding: 5px;
}

.col-11 {
	width: 91.66%;
	padding: 5px;
}

.col-12 {
	width: 100%;
	padding: 5px;
}

body {
	background-color: #fafafa;
	color: #091424;
}

.header {
	height: 27%;
}

.title-box {
	background-color: #456696;
	margin-top: 0px;
}

h1#title {
	color: #091424;
	font-family: 'Fjalla One', sans-serif;
	font-size: 63px;
	font-weight: 500;
	padding-left: 20px;
	padding-top: 66px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

h2#italic {
	font-style: italic;
	color: #091424;
	font-family: 'Fjalla One', sans-serif;
	font-size: 21px;
	font-weight: 200;
	padding-left: 40px;
	margin-top: 0px;
}

h2#subtitle {
	color: #091424;
	font-family: 'Fjalla One', sans-serif;
	font-size: 21px;
	font-weight: 200;
	padding-left: 40px;
	margin-top: 0px;
}

.navrow {
	padding: 0px;
}

ul#navigation {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: flex;
	padding-bottom: 0px;
	margin-top: 12px;
}

div#navigation {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: flex;
	padding-bottom: 0px;
	margin-top: 12px;
}

ul#navigation > a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #698FC8;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

ul#navigation > a:hover {
	background-color: #456696;
	color: #091424;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

ul#prevnext {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: flex;
	padding-bottom: 0px;
	margin-top: 12px;
}

a#prev {
	text-align: right;
}

a#next {
	text-align: left;
}

ul#prevnext > a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #698FC8;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: small;
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 5px;
	padding-top: 15px;
	width: 80px;
}

.article {
	height: 97%;
	overflow-y: auto;
	margin-left: 15px;
	margin-right: 15px;
}

.article-row {
	height: calc(73vh - 50px);
}

.article-title {
	text-align: right;
}

.article p {
	padding-bottom: 10px;
}

ul {
	list-style-position: inside;
	list-style-type: disc;
}

.post_list {
	margin-bottom: 10px;
}

code.python {
	text-indent: 30%;
}

pre {
    white-space: pre-wrap;
    background: hsl(180, 100%, 50%);
    border: solid 1px #698FC8;
    margin: 10px;
    margin-bottom: 20px;
}
